h1{
  margin-top: 2%;
}

body {height: 100%;}

.container{
  overflow-y:hidden;
}
p {
 font-size:150%
 }
ol {
  font-size:150%

}

svg{
  stroke-width: 0.5;
}

text{
  stroke-width: 0.1;
}

.headerSpan{
  font-size: 400%;

}


#button {
  border-radius: 4px;
  background-color:  steelblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 2px;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

#button:active{
  outline:none
}

.card{
  border-width: 0px;
}
