<div class="container">
  <router-outlet ></router-outlet>
</div>

<!--<h1 class="header">{{title}}</h1>-->
<!--&lt;!&ndash;<ul class="heroes" #mainScreen>&ndash;&gt;-->
<!--&lt;!&ndash;<li *ngFor="let shape of shapes"&ndash;&gt;-->
<!--&lt;!&ndash;[class.selected]="shape === selectedHero"&ndash;&gt;-->
<!--&lt;!&ndash;(click)="drawCanvas(shape)">&ndash;&gt;-->
<!--&lt;!&ndash;{{shape.name}}&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--<div [ngStyle]="{'width':innerWidth+'px'}" class="cont" #mainScreen>-->
  <!--<div  class="row">-->
    <!--<div [ngStyle]="{'width':innerWidth/4+'px'}" *ngFor="let shape of shapes" [class.selected]="shape === selectedHero" id="button" (click)="drawCanvas(shape)">{{shape.name}}</div>-->
  <!--</div>-->
<!--</div>-->



<!--<div [ngStyle]="{'width':innerWidth/4+'px'}" id="drawing">-->
  <!--<svg [attr.width]="visWidth" [attr.height]="visHeight">-->
  <!--</svg>-->
<!--</div>-->
